@using Workflow.MVC3.WebUi.Models
@model WorkflowConfigurationViewModel
<h2>Workflow Confgiurations</h2>

<div>
    <form action="/Home/Create" method="post">
    Type of configuration to create:
    <select name="type" id="type">
        @foreach (var item in Model.AvailableConfigurationTypes)
        {
            <option value="@item.AssemblyQualifiedName">@item.Name</option>
        }
    </select>
    <input type="submit" name="submit" value="Create configuration" />

    </form>
    @if(Model.Configurations.Count() == 0)
    {
        <p>There are no workflow configurations.</p>
    } 
    else
    {
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Active?</th>
                <th>Locked?</th>
                <th>Delete</th>
                <th>Edit Properties</th>
                <th>Edit Design</th>
                <th>Instantiate</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var config in Model.Configurations)
                {   
                    <tr>
                        <td>
                            @config.Id
                        </td>
                        <td>
                            @config.Name
                        </td>
                        <td>
                            @config.GetType().Name
                        </td>
                        <td>
                            @config.IsConfigurationActive
                        </td>
                        <td>
                            @config.IsLocked
                        </td>
                        <td>
                            <a href="/Home/Delete/@config.Id">
                                Delete
                            </a>
                        </td>
                        <td>
                            <a href="/WorkflowConfiguration/EditProperties/@config.Id">
                                Edit Properties
                            </a>
                        </td>
                        <td>
                            <a href="/WorkflowDesign/Index/@config.Id" onclick="window.open(this.href,'_blank');return false;">
                                Edit Design
                            </a>
                        </td>
                        <td>
                            <a href="/WorkflowInstantiation/Instantiate/@config.Id">
                                Instantiate
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>